package ${package}.api.service;

import java.util.List;
import java.util.Map;
import ${package}.api.model.${className};

/**
 * @author ${author}
 * @Description: (${comments})
 * @date ${datetime}
 */
public interface ${className}ReadService {

    /**
    *  根据主键查询单个
	*/
    ${className} selectByPrimaryKey(${pk.attrType} ${pk.attrname});

    /**
      * 统计总笔数
      * @param paraMap:暂无参数
      * @return
      */
    Long select${className}Count(Map<String, Object> paraMap);

    /**
     * 取分页数据
     * @param paraMap: startRecordNumb:开始记录号,pageSize:每页显示的笔数
     * @return
     */
    List<${className}> select${className}List(Map<String, Object> paraMap);

}
